{% extends "./base_list.html" %}

{% block title %} Video Games {% endblock %}

{% block header %} Video Games {% endblock %}

{% block button %} <a class="btn btn-primary" href="{% url 'project:new_game' %}"> Add Video Game </a> {% endblock %}

{% block columns %} Name, Description, Release Date, Price, Genre, Developer ID {% endblock %}

{% block rows %} 
{% for game in games %}
	<li class="list-group-item"> <a href="{% url 'project:game' game.id %}">{{ game.name }}, {{ game.description }},
	{{ game.release_date }}, {{ game.price }}, {{ game.genre }}, {{ game.developer_id }}, {{ game.platforms }} </a>
	</li>
{% endfor %}
{% endblock %}


