{% extends "./base_editor.html" %}

{% block title %} Video Game Editor {% endblock %}

{% block header %} Video Game Editor {% endblock %}

{% block form %}

{% if game is None %}
<form action="{% url 'project:new_game' %}" method="post">
{% else %}
<form action="{% url 'project:game' game.id %}" method="post">
{% endif %}

	{% csrf_token %}
	{{ form.as_p }}
	
	<a class="btn btn-warning" href="{% url 'project:games' %}"> Back to All Video Games </a>
	{% if game is not None %}
		{% if game.developer_id is not None %}
		<a class="btn btn-info" href="{% url 'project:developer' game.developer_id%}"> Go to Developer </a>
		{% endif %}
	<a class="btn btn-info" href="{% url 'project:some_platforms' game.id%}"> Go to Related Platforms </a>
	<a class="btn btn-info" href="{% url 'project:some_players' game.id%}"> Go to Related Players </a>
	{% endif %}
	<a class="btn btn-primary" href="{% url 'project:new_game' %}"> Go to Create Page </a>
	<input type="submit" class="btn btn-danger" value="Delete" name="delete"></input>
	<input type="reset" class="btn btn-secondary" value="Reset"></input>
	<input type="submit" class="btn btn-success" value="Save" name="save"></input>
	
</form>

{% endblock %}
